<div class="panel panel-default md-padding">

    <!-- Filters -->
    <div class="small no-margins" ng-if="!entry.searchDatasource">
        <ul class="list-inline no-margins">
            <li><strong>Filters: </strong></li>
            <li class="filter-alert"> None </li>
        </ul>
    </div>

    <div class="small no-margins" ng-if="entry.searchDatasource">
        <ul class="list-inline no-margins">
            <li><strong>Filters: </strong></li>
            <li ng-repeat="(element, filter) in entry.searchDatasource" class="filter-alert" ng-if="filter">
                <a ng-click="removeFilter(element)" class="btn-xs  close" style="font-size: 10px; vertical-align: text-top;" data-dismiss="alert"><i class="fa fa-times"></i></a>
                {{element}} <em>is like</em> <strong>"{{filter}}"</strong>
            </li>
        </ul>
    </div>
    <!-- Filters -->

        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th width="10px" style="text-align:right">#</th>
                    <th width="40px">Type</th>
                    <th width="80px"></th>
                    <th width="5px"></th>
                    <th>Datasource</th>
                    <th width="20px">Status</th>
                </tr>
                <tr>                
                    <th></th>
                    <th><input class="no-borders-title" type="text" ng-model="entry.searchDatasource.TYPE" placeholder="d/f/e"/></th>
                    <th><input class="no-borders-title" type="text" ng-model="entry.searchDatasource.TYPE_TEXT" placeholder="Type"/></th>
                    <th></th>
                    <th><span layout="row"><input class="no-borders-title" flex="20" type="text" ng-model="entry.searchDatasource.NAME" placeholder="Name" focus-me="true"/> &nbsp; <input class="no-borders-title" flex type="text" ng-model="entry.searchDatasource.DESCRIPTION" placeholder="Description"/></span></th>
                    <th><input class="no-borders-title" type="text" ng-model="entry.searchDatasource.STATUS_CODE" placeholder="a/i/d/p"/></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!filteredDatasources.length && !loadFinished">
                    <td colspan="7">
                        <!-- Spinner -->
                          <div class="col-sm-12 text-center">
                            <br><br>
                            <i class="fa fa-spinner fa-pulse fa-3x"></i>
                          </div>
                        <!-- Spinner -->                
                    </td>
                </tr>
                <tr ng-if="!filteredDatasources.length && loadFinished">
                    <td colspan="7">
                        <h4>No datasources exist yet. You can create a new procedure item from the menu above.</h4>
                    </td>
                </tr>
                <tr class="animation pointer-row" ng-class="{'btn-not-relevant':datasource.RELEVANT=='N'}" ng-repeat="datasource in filteredDatasources | startFrom: (currentPage-1) * pageSize  | limitTo:pageSize" ng-click="selectDatasource(datasource.DATASOURCE_ID)" >
                    <td style="vertical-align:middle; text-align:right">{{$index + 1 + (currentPage-1) * pageSize}}. </td>                
                    <td style="vertical-align:middle; text-align:center">
                        <i class="fa fa-fw fa-lg" ng-class="{   'fa-database':datasource.TYPE == 'D', 
                                                                'fa-file-text-o':datasource.TYPE == 'F',
                                                                'fa-envelope':datasource.TYPE == 'E',
                        }"></i> 
                    </td>                
                    <td style="vertical-align:middle">{{datasource.TYPE_TEXT}}</td>
                    <td class="node-{{datasource.TYPE}}"></td>                
                    <td style="vertical-align:middle; padding-left:10px;">
                        <strong>{{datasource.NAME}}</strong></br>
                        <span ng-if="datasource.DESCRIPTION">{{datasource.DESCRIPTION}}</br></span>
                            <small>
                                <span ng-if="datasource.TYPE == 'D' && datasource.OWNER"><strong>Owner:</strong> {{datasource.OWNER}}</span>
                                <span ng-if="datasource.TYPE == 'D' && datasource.COMMENT"><strong>Comment:</strong> {{datasource.COMMENT}}</span>
                                
                                <span ng-if="datasource.TYPE == 'F' && datasource.HOST"><strong>Host:</strong> {{datasource.HOST}}</span>
                                <span ng-if="datasource.TYPE == 'F' && datasource.DIRECTORY"><strong>Dir:</strong> {{datasource.DIRECTORY}}</span>
                                <span ng-if="datasource.TYPE == 'F' && datasource.FILEMASK"><strong>Mask:</strong> {{datasource.FILEMASK}}</span>
                                <span ng-if="datasource.TYPE == 'F' && datasource.COMPRESSION"><strong>Compression:</strong> {{datasource.COMPRESSION}}</span>
                                
                                <span ng-if="datasource.TYPE == 'E' && datasource.SUBJECT"><strong>Subject:</strong> {{datasource.SUBJECT}}</span>
                                <span ng-if="datasource.TYPE == 'E' && datasource.RECIPIENTS"><strong>Recipients:</strong> {{datasource.RECIPIENTS}}</span>
                                
                                <span ng-if="datasource.RETENTION_POLICY"><strong>Retention:</strong> {{datasource.RETENTION_POLICY}}</span>
                            </small>
                    </td>               
                    <td style="vertical-align:middle; text-align: center"><i class="fa fa-2x fa-fw" ng-class="{'fa-check-square btn-green':datasource.STATUS_CODE == 'A', 'fa-square-o btn-red':datasource.STATUS_CODE == 'I', 'fa-pencil-square btn-blue':datasource.STATUS_CODE == 'D', 'fa-minus-square btn-grey':datasource.STATUS_CODE == 'P'}"></i></td>
                </tr>
            </tbody>
        </table>

        <div ng-if="filteredDatasources.length > pageSize" class="no-margins" layout="row" layout-align="center">
            <ul uib-pagination total-items="filteredDatasources.length" items-per-page="pageSize" max-size="10" ng-model="currentPage" ng-change="setCurrentPage(currentPage)" boundary-link-numbers="true" previous-text="<" next-text=">"></ul>
        </div>
</div>