<div class="md-whiteframe-4dp">
	<form name="commentForm" ng-submit="modalSubmit()">

		<div class="modal-body">
        	<label for="inputCOMMENT">Comment</label>
        	<textarea name="inputCOMMENT" type="text" class="form-control" placeholder="Comment" ng-model="form.COMMENT" rows="3" focus-me="true"></textarea>
		</div>

		<div class="modal-footer">
	    <div class="input-group">
				<button type="button" class="btn btn-default" ng-click="modalCancel()">Cancel</button>
				<button type="submit" class="btn btn-primary">Ok</button>
	    </div>
	  </div>

	</form>
</div>
