<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li><a href="/system-catalogue?opcoId={{entry.OPCO_ID}}"><i class="fa fa-desktop"></i> Systems</a></li>
  <li class="active"><i class="fa fa-plug"></i> Interfaces</li>
  <li><a href="/datasource-catalogue?opcoId={{entry.OPCO_ID}}"><i class="fa fa-database"></i> Datasources</a></li>
  <li><a href="/procedure-catalogue?opcoId={{entry.OPCO_ID}}"><i class="fa fa-cogs"></i> Procedures</a></li>
  <li ng-if="procedure.TYPE === 'T'"><a href="/dato-info/{{procedure.OPCO_ID}}/{{procedure.NAME}}"><i class="fa fa-edit"></i> Edit dato <strong>{{procedure.NAME}}</strong></a></li> 
  <li><a href="/scheduler-catalogue?opcoId={{entry.OPCO_ID}}"><i class="fa fa-clock-o"></i> Schedulers</a></li>
</ol>
<!-- Breadcrumbs -->

<h3 class="sub-header">
    <span class="input-group btn-group pull-left">
      <a class="btn btn-primary dropdown-toggle no-margins no-padding" ng-disabled="isDisabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a ui-sref="interfaceInfo({interfaceId:'new'})"><i class="fa fa-plug fa-fw"></i> New interface</a></li>
      </ul>
    </span> 
    &nbsp;
    <strong class="btn-blue">{{entry.OPCO_NAME}}</strong>
    {{entry.state.data.title}} 
</h3> 

<div class="panel panel-default md-whiteframe-4dp md-padding">

    <!-- Filters -->
    <div class="small no-margins" ng-if="!entry.searchInterface">
        <ul class="list-inline no-margins">
            <li><strong>Filters: </strong></li>
            <li class="filter-alert"> None </li>
        </ul>
    </div>

    <div class="small no-margins" ng-if="entry.searchInterface">
        <ul class="list-inline no-margins">
            <li><strong>Filters: </strong></li>
            <li ng-repeat="(element, filter) in entry.searchInterface" class="filter-alert" ng-if="filter">
                <a ng-click="removeFilter(element)" class="btn-xs  close" style="font-size: 10px; vertical-align: text-top;" data-dismiss="alert"><i class="fa fa-times"></i></a>
                {{element}} <em>is like</em> <strong>"{{filter}}"</strong>
            </li>
        </ul>
    </div>
    <!-- Filters -->
    <div class="table-responsive" >
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th width="10px" style="text-align:right">#</th>
                    <th width="40px">Type</th>
                    <th width="80px"></th>
                    <th width="5px"></th>
                    <th>Interface</th>
                </tr>
                <tr>                
                    <th></th>
                    <th><input class="no-borders-title" type="text" ng-model="entry.searchInterface.INTERFACE_TYPE" placeholder="d/f/e"/></th>
                    <th><input class="no-borders-title" type="text" ng-model="entry.searchInterface.INTERFACE_TYPE_TEXT" placeholder="Type"/></th>
                    <th></th>
                    <th><span layout="row"><input class="no-borders-title" flex="30" type="text" ng-model="entry.searchInterface.INTERFACE_NAME" placeholder="Name" focus-me="true"/> &nbsp; <input class="no-borders-title" flex type="text" ng-model="entry.searchInterface.INTERFACE_DESCRIPTION" placeholder="Description"/></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!interfaces.length && !loadFinished">
                    <td colspan="7">
                        <!-- Spinner -->
                          <div class="col-sm-12 text-center">
                            <br><br>
                            <i class="fa fa-spinner fa-pulse fa-3x"></i>
                          </div>
                        <!-- Spinner -->                
                    </td>
                </tr>               
                <tr ng-if="!interfaces.length && loadFinished"><td colspan="7"><h4>No interfaces exist yet. You can create a new interface from the menu above.</h4></td></tr>
                <tr class="animation pointer-row" ng-repeat="interface in interfaces | filter:entry.searchInterface" ng-click="interfaceInfo(interface.INTERFACE_ID)" >
                    <td style="vertical-align:middle; text-align:right">{{$index + 1}}. </td>                
                    <td style="vertical-align:middle; text-align:center">
                        <i class="fa fa-fw fa-lg" ng-class="{   'fa-database':interface.INTERFACE_TYPE == 'D', 
                                                                'fa-file-text-o':interface.INTERFACE_TYPE == 'F',
                                                                'fa-envelope':interface.INTERFACE_TYPE == 'E',
                        }"></i> 
                    </td>                
                    <td style="vertical-align:middle">{{interface.INTERFACE_TYPE_TEXT}}</td>
                    <td class="node-{{interface.INTERFACE_TYPE}}"></td>
                    <td style="vertical-align:middle; padding-left:10px;">
                        <span ng-if="interface.INTERFACE_NAME"><strong>{{interface.INTERFACE_NAME}}</strong> <a class="button btn-xs btn-default" ui-sref="interfaceInfo({interfaceId: interface.INTERFACE_ID})" ng-click="$event.stopPropagation()"><i class="fa fa-plug"></i></a></br></span>
                        <span ng-if="interface.INTERFACE_DESCRIPTION">{{interface.INTERFACE_DESCRIPTION}}</br></span>
                            <small>
                                <span ng-if="interface.SYSTEM_NAME"><strong>System:</strong> {{interface.SYSTEM_NAME}}</span>
                                <span ng-if="interface.CONNECTION_INFO"><strong>Info:</strong> {{interface.CONNECTION_INFO}}</span>
                                <span ng-if="interface.CONTACT_NAME"><strong>Contact:</strong> {{interface.CONTACT_NAME}}</span>
                                <span ng-if="interface.EXPERT_NAME"><strong>Expert:</strong> {{interface.EXPERT_NAME}}</span>
                                <span ng-if="interface.DOCU_LINK"><br/><strong>Documentation:</strong>{{interface.DOCU_LINK}}</span>
                            </small>
                    </td>                
                </tr>
            </tbody>
        </table>

    </div>
</div>