<div class="md-whiteframe-4dp">
	<form ng-submit="submit()">

		<div class="modal-body">
			<h4>New password</h4>
			<br>
	        <div class="input-group">
	          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
	          <input class="form-control" type="password" name="password" ng-model="form.newPassword" placeholder="New password">
	        </div>	        
	        <br>
	        <div class="input-group">
	          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
	          <input class="form-control" type="password" name="password" ng-model="form.newPasswordCheck" placeholder="Re-type new password">
	        </div>	        
	        <br>
			<div class="input-group">
		        <div ng-if="entry.currentUser.passwordChangeFailed" class="alert-danger">    
		        	{{entry.currentUser.passwordChangeFailed}}
		        </div>
		       	<div ng-if="!entry.currentUser.passwordChangeFailed">    
		        	&nbsp;
		        </div>  	
		    </div>
      	</div>


		<div class="modal-footer">
	        <div class="input-group">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="submit" class="btn btn-primary">Change Password</button>
	        </div>
	    </div>

	</form>
</div>
